@use '../globals.scss' as *;
.bar {
	width: 280px;
	display: flex;
}
.bar-button {
	min-height: 36px;
	width: 100%;
	background-color: $color-secundary;
	border-color: transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 14px;
	@include font-primary;
	&:first-of-type {
		border-bottom-left-radius: 10px;
	}
	&:last-of-type {
		border-bottom-right-radius: 10px;
	}
	i {
		padding-left: 10px;
	}
	@media (max-width: 480px) {
		&:first-of-type {
			border-bottom-left-radius: inherit;
			border-top-left-radius: 10px;
		}
		&:last-of-type {
			border-bottom-right-radius: inherit;
			border-top-right-radius: 10px;
		}
	}
}
