@use '../globals.scss' as *;

.button-filter {
	background-color: $color-button;
	border: 2px solid $color-secundary;
	font-size: 17px;
	padding: 20px 56px;
	width: 100%;
	margin: 0 10%;
	min-width: 140px;
	@include font-primary;
	&:hover {
		background-color: $color-button-hover;
	}
	@media (max-width: 768px) {
		padding: 20px;
		width: 50%;
	}
	@media (max-width: 480px) {
		padding: 0;
		height: 45px;
		width: 50%;
	}
	@media (max-width: 360px) {
		margin-bottom: 10px;
	}
}

.button-filter__active {
	background-color: $color-secundary;
	&:hover {
		background-color: $color-secundary;
	}
}
