@use '../globals.scss' as *;

.button-filter {
	background-color: $color-button;
	border-color: $color-secundary;
	color: $color-primary;
	font-family: $font;
	font-weight: 600;
	font-size: 17px;
	padding: 20px 56px;
	width: 100%;
	min-width: 140px;
	&:hover {
		background-color: $color-button-hover;
	}
	@media (max-width: 768px) {
		padding: 20px 0;
		width: 50%;
	}
	@media (max-width: 480px) {
		padding: 0;
		height: 45px;
		width: 50%;
	}
	@media (max-width: 360px) {
		margin-bottom: 10px;
	}
}
