@use '../globals.scss' as *;

.card {
	width: 100%;
	margin: 0 2%;
	@include display-flex;
	align-items: inherit;
	@media (max-width: 768px) {
		flex-direction: column;
	}
	.card-photo {
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
		flex-basis: 40%;
		background: $color-gryffindor;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		img {
			height: 75%;
			width: 75%;
			border-radius: 50%;
		}
		@media (max-width: 768px) {
			max-height: 150px;
			border-bottom-left-radius: inherit;
			border-top-right-radius: 25px;
			img {
				height: 100px;
				width: 100px;
				padding: 25px 0;
			}
		}
		@media (max-width: 480px) {
			max-height: 100px;
			img {
				height: 75px;
				width: 75px;
			}
		}
	}
	.info {
		flex-basis: 60%;
		background-color: $color-primary;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		padding: 3%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 768px) {
			border-top-right-radius: inherit;
			border-bottom-left-radius: 25px;
		}
		@media (max-width: 480px) {
			padding: 5%;
		}
		.info-status {
			@include display-flex;
			justify-content: space-between;
			font-size: $size-label;
			font-family: $font;
			font-weight: 600;
			color: $color-ettiquete;
			@media (max-width: 480px) {
				font-size: 12px;
				order: 2;
			}
			i {
				cursor: pointer;
			}
		}
		.info-name {
			font-size: 24px;
			font-family: $font;
			color: $color-title;
			font-weight: 600;
			@media (max-width: 480px) {
				font-size: 18px;
				text-align: center;
			}
		}
		.info-label {
			display: flex;
			flex-direction: column;
			font-family: $font;
			color: $color-label;
			font-size: $size-label;
			span {
				font-weight: 600;
			}
			label {
				font-weight: 400;
			}
			@media (max-width: 480px) {
				display: none;
			}
		}
	}
}
