@use '../globals.scss' as *;

.card {
	flex: 0 0 calc(50% - 20px);
	width: 100%;
	margin-bottom: 40px;
	@include display-flex-row;
	align-items: inherit;
	@media (max-width: 768px) {
		flex-direction: column;
	}
	.card-photo {
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
		flex-basis: 40%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		img {
			height: 75%;
			width: 75%;
			border-radius: 50%;
		}
		@media (max-width: 1024px) {
			img {
				height: 115px;
				width: 115px;
				padding: 25px 0;
			}
		}
		@media (max-width: 768px) {
			max-height: 150px;
			border-bottom-left-radius: inherit;
			border-top-right-radius: 25px;
			img {
				height: 100px;
				width: 100px;
			}
		}
		@media (max-width: 480px) {
			max-height: 100px;
			img {
				height: 75px;
				width: 75px;
			}
		}
	}
	.info {
		flex-basis: 60%;
		background-color: $color-primary;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		padding: 5%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 768px) {
			border-top-right-radius: inherit;
			border-bottom-left-radius: 25px;
		}
		@media (max-width: 480px) {
			padding: 8%;
		}
		.info-status {
			@include display-flex-row;
			justify-content: space-between;
			font-size: $size-label;
			font-family: $font;
			font-weight: 600;
			color: $color-ettiquete;
			@media (max-width: 480px) {
				font-size: 12px;
				order: 2;
			}
			i {
				cursor: pointer;
			}
		}
		.info-name {
			font-size: 24px;
			font-family: $font;
			color: $color-title;
			font-weight: 600;
			@media (max-width: 480px) {
				font-size: 18px;
				text-align: center;
			}
		}
		.info-label {
			display: flex;
			flex-direction: column;
			font-family: $font;
			color: $color-label;
			font-size: $size-label;
			text-transform: capitalize;
			span {
				font-weight: 600;
				text-transform: none;
			}
			label {
				font-weight: 400;
			}
			@media (max-width: 480px) {
				display: none;
			}
		}
	}
}

.house-Slytherin {
	background: $color-slytherin;
}
.house-Gryffindor {
	background: $color-gryffindor;
}
.house-Ravenclaw {
	background: $color-ravenclaw;
}
.house-Hufflepuff {
	background: $color-hufflepuff;
}
.house-default {
	background: $color-default;
}
.not-alive {
	background-color: $color-variation !important;
}
