@use '../globals.scss' as *;

.modal {
	background-color: $color-primary;
	border-radius: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 50%;
	height: 70%;
	font-family: $font;
	font-weight: 600;
	padding: 20px;
	color: $color-modal-letter;
	@media (max-width: 768px) {
		overflow: scroll;
	}
	.modal-header {
		@include display-flex-row;
		justify-content: space-between;
		font-size: 20px;
		color: $color-title;
	}
	.modal-close {
		cursor: pointer;
	}
	.modal-inputs-group {
		@include display-flex-column;
		.modal-inputs {
			@include display-flex-row;
			justify-content: space-around;
			@media (max-width: 768px) {
				@include display-flex-column;
			}
		}
	}
	.modal-radios-group {
		@include display-flex-row;
		text-align: center;
		@media (max-width: 768px) {
			@include display-flex-column;
		}
		.modal-radios {
			margin: 10px auto;
			width: 100%;
			@include display-flex-column;
			justify-content: space-evenly;
		}
	}
	.modal-label {
		color: $color-modal-letter;
		font-size: 14px;
		font-family: $font;
		font-weight: 400;
		text-transform: uppercase;
	}
	.modal-file {
		@include display-flex-column;
		justify-content: center;
		align-items: center;
		margin: 10px 0;
	}
}

.modal-input {
	margin-top: 15px;
	@include display-flex-column;
	align-items: center;
	width: 100%;
	input {
		width: 90%;
		height: 50px;
		background-color: $color-modal-input;
		border: none;
		border-radius: 5px 5px 0 0;
		border-bottom: 1px solid $color-modal-letter;
	}
	label {
		text-align: left !important;
	}
}

.modal-radio-row {
	@include display-flex-row;
	justify-content: center;
}

.modal-radio {
	margin-top: 15px;
	@include display-flex-row;
}

.modal-submit {
	width: 50%;
	display: flex;
	margin: 10px auto;
	justify-content: center;
}

.modal-img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
