@use '../globals.scss' as *;

.home {
	margin: 0 5%;
}

.home-filters {
	margin: 0 5%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10%;
	align-items: center;
	@media (max-width: 360px) {
		flex-direction: column;
	}
}

.home-bar {
	position: fixed;
	top: 0;
	right: 50px;
	@media (max-width: 480px) {
		bottom: 0;
		right: inherit;
		top: inherit;
		left: 50%;
		transform: translateX(-50%);
	}
}
