$font: 'Open Sans', Arial, sans-serif;
$color-primary: #fff;
$color-secundary: #6b63b5;
$color-variation: #cccccc;
$color-slytherin: linear-gradient(135deg, #1c792b 0%, #82e95e 100%);
$color-hufflepuff: linear-gradient(135deg, #ffc700 0%, #fff388 100%);
$color-ravenclaw: linear-gradient(135deg, #0597b7 0%, #66d1ff 100%);
$color-gryffindor: linear-gradient(135deg, #ff0000 0%, #fed482 100%);
$color-title: #081f32;
$color-label: #374a59;
$color-ettiquete: #999999;
$color-button: rgba(0, 0, 0, 0.6);
$color-button-hover: rgba(107, 99, 181, 0.6);

body {
	background-image: url('/public/src/img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}
